<ion-content>
  <ion-toolbar>
    <ion-title class="mt-5 text-center">Registro</ion-title>
  </ion-toolbar>
  <div class="container">
    <form class="form-group">
      <div class="form-group row mt-3">
        <div class="col-1"></div>
        <input type="text" class="form-control col-10 text-center" id="nombre" placeholder="Nombre y Apellido">
        <div class="col-1"></div>
      </div>
      <div class="form-group row">
        <div class="col-1"></div>
        <input type="email" class="form-control col-10 text-center" id="email" placeholder="example@gmail.com">
        <div class="col-1"></div>
      </div>
      <div class="form-group row">
        <div class="col-1"></div>
        <input type="password" class="form-control col-10 text-center" id="password" placeholder="Password">
        <div class="col-1"></div>
      </div>
      <div class="form-group row">
        <div class="col-1"></div>
        <input type="password" class="form-control col-10 text-center" id="confirm" placeholder="Confirm Password">
        <div class="col-1"></div>
      </div>
      <div class="row">
        <div class="col-1"></div>
        <ion-button type="button" color="success" id="btnRegistro" class="col-10">Registrar</ion-button>
      </div>
    </form>
    <div class="row">
      <div class="col-5"></div>
      <div class="col-2"><ion-icon type="button" name="arrow-back-circle-outline" color="dark" 
      size="large" routerLink="/login"></ion-icon>
      </div>
      <div class="col-5"></div>
    </div>
  </div>
</ion-content>
